* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  Helvetica, sans-serif, Arial;
  background: #f4f6f8;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

#weather-result {
  margin-top: 20px;
}

.weather-info p {
  margin-top: 8px;
}

.error {
  color: #d63031;
  font-weight: bold;
  margin-top: 20px;
}
